{{#partial "contenido"}}
	<h2>Supermercado {{supermercado.razonSocial}}</h2>
	<h3 style="text-align:center">Ventas</h3>

	<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Fecha y hora</th>
			<th>Monto</th>
			<th>Detalle</th>
		</tr>
		{{#each ventas}}
		<tr>
			<td>{{fechaYhora}}</td>
			<td>{{monto}}</td>
			<td>
				<a class="btn btn-secondary" href="ventaDetalle/{{supermercado.razonSocial}}/{{id}}">Ver detalle</a>
			</td>
		</tr>
		{{/each}}
	</table>
	</div>
{{/partial}}
{{>base.hbs}}